In [169]:
import pandas as pd
import numpy as np
import pulp

In [28]:
kibou=pd.read_csv("csv/kibou.csv")
minimum=pd.read_csv("csv/minimum.csv")

In [29]:
# スタッフの希望日時
kibou

  Name   Mon   Wed   Thu   Fri   Sat   Sun  Priority
0    A  1318     0  1020  1020  1318  1318         1
1    B     0  1117  1118     0     0  1418         1
2    C     0  1318  1020  1117  1214  1020         1
3    D  1020     0  1020     0     0     0         2
4    E  1720  1720     0  1720  1020  1020         1
5    F  1020  1017  1020  1020  1020  1020         1
6    G  1116  1116     0     0  1020  1020         1
7    H  1318     0     0     0     0  1020         2
8    I     0     0  1020  1020     0  1318         1
9    J  1318     0  1020     0  1014  1014         1

In [166]:
# インデックス・カラム名の保存
Name = kibou["Name"]
Columns = kibou.drop(["Name", "Priority"], axis=1).columns

In [30]:
#最低必要人数
minimum

  weekday  morning(10-13)  noon(14-17)  evening(18-20)
0     Mon               2            5               3
1     Wed               2            5               3
2     Thu               2            5               3
3     Fri               2            5               3
4     Sat               3            7               4
5     Sun               3            7               4

In [17]:
#簡単な変換式
val = 1318
st = val //100
ed = val % 100
base = np.zeros(24)
for i in range(24):
    if (i >= st) and (i <= ed): base[i] = 1
base

array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        1.,  1.,  1.,  1.,  1.,  1.,  0.,  0.,  0.,  0.,  0.])

In [115]:
#必要人数を24時間表記に変換
mat = minimum.drop('weekday',axis=1).values
req = np.zeros((6,24))
for n in range(len(mat)):
    line=mat[n]
    base = np.zeros(24)
    th=[10,14,18,20]
    for i in range(24):
        if th[3] < i : base[i] = 0
        elif th[2] <= i : base[i] = line[2]
        elif th[1] <= i : base[i] = line[1]
        elif th[0] <= i : base[i] = line[0]
    req[n,:] = base

In [116]:
req

array([[ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  2.,  2.,  2.,
         2.,  5.,  5.,  5.,  5.,  3.,  3.,  3.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  2.,  2.,  2.,
         2.,  5.,  5.,  5.,  5.,  3.,  3.,  3.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  2.,  2.,  2.,
         2.,  5.,  5.,  5.,  5.,  3.,  3.,  3.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  2.,  2.,  2.,
         2.,  5.,  5.,  5.,  5.,  3.,  3.,  3.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  3.,  3.,  3.,
         3.,  7.,  7.,  7.,  7.,  4.,  4.,  4.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  3.,  3.,  3.,
         3.,  7.,  7.,  7.,  7.,  4.,  4.,  4.,  0.,  0.,  0.]])

In [87]:
#希望を24時間単位に変換
#人,曜日,時間 => 希望(0,1)
conv_kibou=[]
for n in range(len(kibou)):
    person=[]
    for val in kibou.iloc[n].values[1:-1]:
        base = np.zeros(24)
        if (val != 0):
            st = val //100
            ed = val % 100
            for i in range(24):
                if (i >= st) and (i <= ed): base[i] = 1
        person.append(base.tolist())
    conv_kibou.append(person)
conv_kibou=np.array(conv_kibou)

In [88]:
conv_kibou[0]

array([[ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         1.,  1.,  1.,  1.,  1.,  1.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  1.,
         1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  1.,
         1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         1.,  1.,  1.,  1.,  1.,  1.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         1.,  1.,  1.,  1.,  1.,  1.,  0.,  0.,  0.,  0.,  0.]])

In [81]:
conv_kibou.shape

(10, 6, 24)

In [111]:
x = {}
for i in range(2):
    for j in range(2):
        for k in range(2):
            x[i,j,k] = pulp.LpVariable("x({:},{:},{:})".format(i,j,k), 0, 1, pulp.LpInteger)

In [112]:
x

{(0, 0, 0): x(0,0,0),
 (0, 0, 1): x(0,0,1),
 (0, 1, 0): x(0,1,0),
 (0, 1, 1): x(0,1,1),
 (1, 0, 0): x(1,0,0),
 (1, 0, 1): x(1,0,1),
 (1, 1, 0): x(1,1,0),
 (1, 1, 1): x(1,1,1)}

In [120]:
#目標変数の設定
people, weekdays, hours=conv_kibou.shape
agn = {}
for i in range(people):
    for j in range(weekdays):
        for k in range(hours):
            agn[i,j,k] = pulp.LpVariable("agn({:},{:},{:})".format(i,j,k), 0, 1, pulp.LpInteger)

In [138]:
#問題定義
problem = pulp.LpProblem('assignment', pulp.LpMaximize)

In [139]:
# 目的関数を宣言
# 今回はナイーブに希望が入れば1, 入らなければ0で重みは不使用
problem += pulp.lpSum(agn[person, weekday, hour] * conv_kibou[person, weekday, hour] for person in range(people) for weekday in range(weekdays) for hour in range(hours)), "TotalSatisfaction"

In [140]:
# スタッフについて、1週間40時間以内
limit_hours=40
for person in range(people):
        problem += sum(agn[person, weekday, hour] for weekday in range(weekdays) for hour in range(hours))  <= limit_hours

In [141]:
#  各時間について、スタッフが必要人数以上
for weekday in range(weekdays):
    for hour in range(hours):
        problem += sum(agn[person, weekday, hour] for person in range(people))  >= req[weekday,hour]

In [143]:
# 可解判定
print(pulp.LpStatus[problem.solve()])

Optimal

In [148]:
#　結果の格納
solve_result = np.zeros((people, weekdays, hours))
for person in range(people):
    for weekday in range(weekdays):
        for hour in range(hours):
            solve_result[person,weekday,hour] = agn[person,weekday,hour].value()

In [163]:
# 元のシフト形式に変換
shifts_return = np.zeros((people, weekdays))
for person in range(people):
    for weekday in range(weekdays):
        flag=0
        for hour in range(hours):
            if solve_result[person][weekday][hour]==1:
                st=hour
                flag=1
                break

        for hour in range(hours):
            if solve_result[person][weekday][hours-hour-1]==1:
                ed=hours-hour-1
                flag=1
                break
                
        if flag!=0:
            shifts_return[person,weekday] = st*100+ed

In [170]:
#返り値
ret = pd.DataFrame(shifts_return, index = Name, columns = Columns).astype("int")
ret

       Mon   Wed   Thu   Fri   Sat   Sun
Name
A     1318     0  1020  1020  1318  1318
B        0  1120  1118  1616  1616  1418
C        0  1318  1020  1117  1215  1020
D     1020  1020  1020     0  1415     0
E     1720  1420     0  1720  1020  1020
F     1020  1017  1018  1020  1020  1120
G     1116  1119     0  1415  1020  1020
H     1318  1618     0     0  1617  1020
I        0  1919  1020  1020  1720  1318
J     1318  1717  1020     0  1017  1014

In [172]:
kibou

  Name   Mon   Wed   Thu   Fri   Sat   Sun  Priority
0    A  1318     0  1020  1020  1318  1318         1
1    B     0  1117  1118     0     0  1418         1
2    C     0  1318  1020  1117  1214  1020         1
3    D  1020     0  1020     0     0     0         2
4    E  1720  1720     0  1720  1020  1020         1
5    F  1020  1017  1020  1020  1020  1020         1
6    G  1116  1116     0     0  1020  1020         1
7    H  1318     0     0     0     0  1020         2
8    I     0     0  1020  1020     0  1318         1
9    J  1318     0  1020     0  1014  1014         1